body header h1 a img {
    width: 200px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
}

body header + main section article   {
    background-color: #999999;
    text-align: center;
}

body header + main + footer {
    color: #171d1d;
    background-color: #f7f48f;
}

header {
    background-color: #999999;
    padding-bottom: 10px;
    text-align: center;
}

nav {
    display: inline;

}

header ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
header a {
    text-decoration: none;
    font-size: larger;
    padding: 10px 20px;
    color: #f7f48f;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
}
.lastNav{
    border-right: none;
}
body {
    margin: 0;
}

header ul nav li {
    display: inline;
}