@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


header {
    background-color: #363636;
    height: 75px;

}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: #6B6B6B;
    background-color: #F2F2F2;
    margin: 0;
}

img {
    vertical-align: middle;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    color: #DADADA;
    font-size: 2rem;
    font-weight: bolder;
    display: inline;
    text-align: left;
    margin-top: 20px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.menu {
    margin-top: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: color 0.3s linear;
}

header nav ul li a:hover {
    color: #DA4453;
}

.slider-text {
    position: relative;
    left: 0;
    right: 0;
    max-width: 1170px;
    width: 40%;
}

.slider-h1 {
    position: absolute;
    top: 200px;
    left: 175px;
    background-color: rgba(218, 68, 83, 0.7);
    font-size: 2.4rem;
    font-weight: bolder;
    color: white;
    padding: 12px 20px;
    display: inline;
    max-width: 100%;
}

.slider-p {
    position: absolute;
    top: 264px;
    left: 175px;
    background-color: rgba(59, 59, 59, 0.8);
    color: #DDDDDD;
    width: 600px;
    max-width: 100%;
    padding: 12px 20px;
}

.slider-img {
    max-width: 100%;
}

.content {
    max-width: 100%;
    width: 1170px;
    margin: 0 auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.column-left {
    width: 750px;
    max-width: 70%;
    flex-shrink: 0;
    margin-right: 15px;
}

.article {
    color: #6B6B6B;
    font-size: 1.4rem;
    background-color: white;
    margin-bottom: 50px;
}

.article .article-image img {
    max-width: 100%;
    transition: opacity 0.3s linear;
}

.article .article-image img:hover {
    opacity: 80%;
}


.article .article-content {
    border-width: 1px;
    border-style: solid;
    border-color: #DADADA;
    padding: 45px 50px;
}

.article .content-heading h1 {
    margin: 0 0 30px 0;
}

.article .content-heading h1 a {
    color: #444444;
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
    transition: color 0.3s linear;
}

.article .content-heading a {
    text-decoration: none;
}

.article .content-heading h1 a:hover {
    color: #DA4453;
}

.article .content-meta {
    display: flex;
    margin-bottom: 30px;
}

.article .content-meta > div {
    margin-right: 15px;
}

.article .content-meta > div:last-child {
    margin-right: 0;
}

.article .content-meta a {
    font-size: 13px;
    color: #6B6B6B;
    text-decoration: none;
}

.article .content-actions {
    text-align: right;
    margin-top: 10px;
}

.article .content-actions .readmore {
    background-color: #DA4453;
    color: white;
    font-size: 1.3rem;
    padding: 11px 13px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #DA4453;
    transition: background-color 0.3s linear;
}

.article .content-actions .readmore:hover {
    background-color: black;
    border-color: black;
}

.column-right {
    width: 390px;
    height: min-content;
    max-width: 30%;
    background-color: white;
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #DADADA;
    border-radius: 4px;
    margin: 0 15px;
}

.aside {
    margin-bottom: 50px;
}

.aside-h {
    font-size: 14px;
    font-weight: bolder;
    color: #636467;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.aside-social {
    display: flex;
    flex-direction: row;
}

.aside-social a {
    text-decoration: none;
}

.aside-net {
    color: white;
    background-color: #C1C0C0;
    height: 40px;
    width: 40px;
    margin: 0 5px 5px 0;
    border-radius: 3px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s linear;
}

.fa-twitter:hover {
    background-color: #55ACEE;
}

.fa-facebook:hover {
    background-color: #4265b9;
}

.fa-youtube:hover {
    background-color: #df3333;
}

.fa-google-plus:hover {
    background-color: #d62408;
}

.fa-vk:hover {
    background-color: #5B8BB4;
}

.aside-comments {
    color: #C1C0C0;
    border-bottom: 2px #F2F2F2 solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}


.comment-name {
    font-weight: bolder;
    margin-right: 3px;
}

/*Теги: ссылки, цвет фона #DADADA, плавно меняется на #DA4453 при наведении указателя мыши,
 внешний отступ снизу 4px, внутренние отступы 6px 7px, цвет текста белый, радиус скругления углов 3px, размер шрифта 12px.
*/

.aside-tag {
    background-color: #DADADA;
    line-height: 2.7;
    padding: 6px 7px;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
    transition: background-color 0.5s linear;
}

.aside-tag:hover {
    background-color: #DA4453;
}

footer {
    background-color: #1F1F1F;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    /*width: 1170px;*/

}

footer a {
    color: #DADADA;
    transition: color 0.3s linear;
    font-size: 12px;
}

footer a:hover {
    color: #ffffff;
}

footer .copy-text {
    font-size: 12px;
    color: #999;
    padding: 10px 0;

}

.copy-word {
    color: #DADADA;

}