div {
    width: 80%;
    position: relative;
    height: 10em;
    border: 1px solid #000000;
    box-shadow: black;
}

section {
    width: 25%;
    float: left;
    margin-right: 2%;
}

section:last-child {
    margin-right: 0;
    float: none;
}

img {
    max-width: 300px;
}

p {
    float: none;
}