body {
    margin: auto;
    width: 80%;
}

.all {
    margin: 15px 0;
    padding: 0 1%;
    border: 2px solid #000000;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

.flex{
    display: flex;
    justify-content: space-between;
}

.aside{
    max-width: 200px;
    padding-right: 3%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 90%;
}

article {
    max-width: 90%;
}